@*@model List<string>*@
@model List<TreeViewDemo.Models.UserProfile>
@{
    ViewBag.Title = "ImageCrop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .preview-lg {
        width: 290px;
        height: 160px;
    }

    .preview {
        /*float: left;*/
        margin-right: 15px;
        margin-bottom: 15px;
        overflow: hidden;
        background: #f7f7f7;
    }
</style>
<h1 class="text-warning">Image Crop</h1>
<div class="row">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="imageSaveOption" id="rdSaveToFileSys" value="file" checked>
                    Save to File System
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="imageSaveOption" id="rdSaveToDB" value="db">
                    Save to Database
                </label>
            </div>
            <button type="submit" class="btn btn-warning pull-right">Submit</button>
        </div>

        <div class="col-lg-12">
            <a href="javascript:void(0);" class="lnkAddButton btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i></a>
        </div>

        <div class="imageUploadContainer">
            <div class="col-lg-12" id="imageUploadContent-0">
                <button type="button" id="btnImageModal-0" class="btn btn-primary btn-lg btnImageCropModalClass" data-toggle="modal" data-target="#modalImageCrop">
                    Image Crop
                </button>
                <a href="javascript:void(0);" id="lnkRemoveButton-0" class="lnkRemoveButton btn btn-danger" style="display:none"><i class="glyphicon glyphicon-minus-sign"></i></a>
                <input type="hidden" id="hdnCroppedImageOutput-0" name="hdnCroppedImageOutput" />
                <input type="hidden" id="hdnOriginalImageOutput-0" name="hdnOriginalImageOutput" />
                <img id="imgContent-0" class="img-responsive" />
            </div>
        </div>
    </form>
</div>

@*<div class="list-group">
        @if (Model != null && Model.Any())
        {
            int i =0;
            foreach (var file in Model)
            {
                <a href="@file" class="list-group-item active">
                    file-@i
                </a>
            }
        }

    </div>*@
<div class="row">
   
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        name
                    </th>
                    <th>
                        image
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td><img src="@Url.Action("DisplayImageFromDB", "Home", new { id = item.UserId })" /> </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>



</div>



<div class="modal fade" id="modalImageCrop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Image Crop</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="btn btn-primary" for="inputImage" title="Upload image file">
                                <input class="hide" id="inputImage" name="file" type="file" accept="image/*">
                                Upload
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 errNoImage">
                        <h3 class="text-primary">Please upload image to crop</h3>
                    </div>
                    <div class="col-lg-12 cropHandler" style="display:none">
                        <div class="col-lg-6">
                            <img class="cropper" src="" />
                            @*/Content/cropper/img/picture-1.jpg*@
                        </div>
                        <div class="col-lg-6">
                            <div class="preview preview-lg"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnCropImage" class="btn btn-primary" disabled data-imageid="">Crop Image</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        var $image = $(".cropper"),
        $dataX = $("#dataX"),
        $dataY = $("#dataY"),
        $dataHeight = $("#dataHeight"),
        $dataWidth = $("#dataWidth"),
        console = window.console || { log: $.noop },
        cropper;

        $image.cropper({
            aspectRatio: 16 / 9,
            // autoCropArea: 1,
            data: {
                //x: 420,
                //y: 50,
                //width: 640,
                //height: 360

                x: 420,
                y: 50,
                width: 640,
                height: 360

            },
            preview: ".preview",

            // multiple: true,
            // autoCrop: false,
            // dragCrop: false,
            // dashed: false,
            // modal: false,
            // movable: false,
            // resizable: false,
            // zoomable: false,
            // rotatable: false,
            // checkImageOrigin: false,

            // maxWidth: 480,
            // maxHeight: 270,
            // minWidth: 160,
            // minHeight: 90,

            done: function (data) {

                $dataX.val(data.x);
                $dataY.val(data.y);
                $dataHeight.val(data.height);
                $dataWidth.val(data.width);
            },

            build: function (e) {
                console.log('build : ' + e.type);
            },

            built: function (e) {
                console.log('built : ' + e.type);
            },

            dragstart: function (e) {
                console.log('dragstart : ' + e.type);
            },

            dragmove: function (e) {
                console.log('dragmove : ' + e.type);
            },

            dragend: function (e) {
                console.log('dragend : ' + e.type);
            }
        });
        //cropper = $image.data("cropper");
        var $inputImage = $("#inputImage");
        if (window.FileReader) {
            $inputImage.change(function () {
                var fileReader = new FileReader(),
                    files = this.files,
                    file;

                if (!files.length) {
                    return;
                }

                file = files[0];

                if (/^image\/\w+$/.test(file.type)) {
                    fileReader.readAsDataURL(file);
                    fileReader.onload = function () {

                        $image.cropper("reset", true).cropper("replace", this.result);
                        $inputImage.val("");

                        $(".cropHandler").show();
                        $(".errNoImage").hide();
                        $("#btnCropImage").prop("disabled", false);
                    };
                } else {
                    showMessage("Please choose an image file.");
                }
            });
        } else {
            $inputImage.addClass("hide");
        }


        $(document).on("click", ".btnImageCropModalClass", function () {
            debugger;
            var id = $(this).attr("id").split("-")[1];
            $("#btnCropImage").attr("data-imageid", id);
            var imageSrc = $("#hdnOriginalImageOutput-" + id).val();
            if (imageSrc != "") {
                $image.cropper("reset", true).cropper("replace", imageSrc);
                $("#btnCropImage").prop("disabled", false);
                $(".errNoImage").hide();
                $(".cropHandler").show();
            }
        });

        $(document).on("click", "#btnCropImage", function () {
            debugger;
            var id = $(this).attr("data-imageid");
            var dataURL = $image.cropper("getDataURL");
            $("#hdnCroppedImageOutput-" + id).val(dataURL);
            $("#hdnOriginalImageOutput-" + id).val($image.attr("src"));

            $("#imgContent-" + id).attr("src", dataURL);
            $('#modalImageCrop').modal('hide');

        });

        $(document).on('hide.bs.modal', '#modalImageCrop', function () {
            //$image.cropper("reset");

            $("#btnCropImage").prop("disabled", true);
            $(".errNoImage").show();
            $(".cropHandler").hide();
        });
        $(document).on("click", ".lnkAddButton", function () {
            $(".imageUploadContainer> :first-child").clone().appendTo(".imageUploadContainer");
            $(".imageUploadContainer> :last-child").find("img").attr("src", "");
            $(".imageUploadContainer> :last-child").find("input[name=hdnCroppedImageOutput]").val("");
            $(".imageUploadContainer> :last-child").find("input[name=hdnOriginalImageOutput]").val("");
            resolveIds();
        });

        $(document).on("click", ".lnkRemoveButton", function () {
            var id = $(this).attr("id").split("-")[1];
            $("#imageUploadContent-" + id).remove();
            resolveIds();
        });

        resolveIds = function () {
            var idCount = 0;
            $(".imageUploadContainer>").each(function () {
                $(this).attr("id", "imageUploadContent-" + idCount);
                $(this).find(".btnImageCropModalClass").attr("id", "btnImageModal-" + idCount);
                $(this).find(".lnkRemoveButton").attr("id", "lnkRemoveButton-" + idCount);
                $(this).find("input[name=hdnCroppedImageOutput]").attr({ id: "hdnCroppedImageOutput-" + idCount });
                $(this).find("input[name=hdnOriginalImageOutput]").attr({ id: "hdnOriginalImageOutput-" + idCount });

                $(this).find("img").attr("id", "imgContent-" + idCount);
                idCount++;
            });

            $(".imageUploadContainer>").length == 1 ? $("#lnkRemoveButton-0").css("display", "none") : $(".lnkRemoveButton").show();
        }


    });


</script>